
div.wrapper a[href^="http://"]:after { content:" (↗)"; }
div.wrapper a[href^="https://"]:after { content:" (↗)"; }
div.wrapper a:hover { background: #e0e0e0; }

/* Background image for Headline */
body > main.main > article.article > div.wrapper > h1 {
	text-align: center;
	background-image: url(/images/backgroundH1.jpg);
	background-repeat: no-repeat;
}

/* Image formatting */
.floatRight {
	float: right;
}

/* pro-adblock coloring */
#padb-modal-box {
	background: darkorange;
}
#padb-modal-box h1, #padb-modal-box a {
	color: white;
}
